{% extends 'app.html' %}
{% load rules %}
{% load static %}
{% load language_tags %}
{% load i18n %}
{% block article %}

{% block title %}
DMP {{ object }} | {{ block.super }}
{% endblock %}

{% has_perm 'projects.change_dmp' request.user dmp as can_edit %}
{% has_perm 'projects.delete_dmp' request.user dmp as can_delete %}

{% get_current_language as current_language %}

<div class="flex items-center justify-between">
    <div>
        <h1 class="text-3xl font-bold">{{ dmp.name }}</h1>
        <p class="text-sm text-gray-700">Created by: {{dmp.owner}} &bull;
            Created at: {{dmp.created_at}} &bull;
            Last Modified: {{dmp.updated_at}}
        </p>
    </div>
    <div class="flex gap-4">
        {% if not dmp.is_external %}
        {% url 'projects:dmp_preview' pk=dmp.id as preview_url %}

        <select id="language-select" name="language" x-data @change="setLocale($event.target.value)">
            {% get_current_language as current_language %}
            {% get_languages as languages %}
            {% for code, name in languages %}
            <option value="{{ code }}" {% if current_language == code %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>
        {% if dmp.data %}
        <a class="btn btn-secondary" href="{{ preview_url }}" target="_blank">Preview</a>

        <details class="dropdown">
            <summary class="btn btn-secondary">Download</summary>
            <ul class="dropdown-content menu bg-base-100 z-10 w-52 p-2 shadow-lg">
                <li><a class="no-underline hover:bg-secondary hover:text-secondary-content" target="_blank" href="{{ preview_url }}">HTML</a></li>
                <li><a class="no-underline hover:bg-secondary hover:text-secondary-content" target="_blank" href="{{preview_url}}?format=pdf">PDF</a></li>
                <li><a class="no-underline hover:bg-secondary hover:text-secondary-content" target="_blank" href="{{preview_url}}?format=latex">LaTex</a></li>
                <li><a class="no-underline hover:bg-secondary hover:text-secondary-content" target="_blank" href="{{preview_url}}?format=docx">Microsoft Word</a></li>
            </ul>
        </details>
        {% endif %}
        {% elif dmp.external_file %}
            <a class="btn btn-secondary" href="{{ dmp.external_file.url }}" target="_blank">Download</a>
        {% endif %}

        {% if dmp.project %}
        <a class="btn btn-primary" href="{% url 'projects:project_detail' pk=dmp.project_id %}">Project</a>
        {% endif %}
        {% if can_edit %}
        <a class="btn btn-primary" href="{% url 'projects:dmp_update' pk=dmp.id %}">Edit</a>
        {% endif %}
        {% if can_delete %}
        <a class="btn btn-error" href="{% url 'projects:dmp_delete' pk=dmp.id %}">Delete</a>
        {% endif %}
    </div>
</div>

<div class="mt-5">
    {% if dmp.is_external %}
    <p>Reference to the external DMP:<br /><b>{{ dmp.external_reference|default_if_none:"No reference provided"}}</b></p>
    {% elif dmp.schema %}
    <div id="surveyContainer"></div>
    {% csrf_token %}
    {% else %}
    <div class="prose">
        <p>DMP template is not configured</p>
    </div>
    {% endif %}
</div>

<script>
    window.readOnly = {% if can_edit %}false{% else %}true{% endif %};
</script>


{% endblock article %}


{% block css %}
{% if not dmp.is_external %}
<link href="https://unpkg.com/survey-core/survey-core.min.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
{% endif %}
{% endblock %}


{% block body_javascript %}
{{ block.super }}
{% if projects_config and not dmp.is_external %}

{% url 'api_v1:dmps-detail' pk=dmp.id as dmp_api_url %}
{{ dmp_api_url|safe|json_script:"dmp_api_url" }}

{{ projects_config|json_script:"dmp-config" }}
{{ dmp.data|json_script:"dmp" }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script type="text/javascript" src="https://unpkg.com/survey-core/survey.core.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/survey-js-ui/survey-js-ui.min.js"></script>
<script src="https://unpkg.com/survey-core/survey.i18n.min.js"></script>
<script src="https://unpkg.com/dompurify@3.2.4/dist/purify.min.js"></script>
<script src="https://unpkg.com/marked@15.0.7/marked.min.js"></script>

<script src="{% static 'projects/dmp.js' %}"></script>
{% endif %}
{% endblock body_javascript %}
