{% extends 'app.html' %}
{% load static %}

{% block article %}
<div class="prose">
    <h1>{{ dmp.name }}</h1>
</div>
{% if projects_config.dmp_survey_config %}
<div id="surveyContainer"></div>
{% csrf_token %}
{% else %}
<div class="prose">
<p>DMP template is not configured</p>
</div>
{% endif %}

{% endblock article %}

{% block css %}
<link href="https://unpkg.com/survey-core/survey-core.min.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
{% endblock %}

{% block body_javascript %}
{{ block.super }}
{% if projects_config.dmp_survey_config %}

{% url 'api_v1:dmps-detail' pk=dmp.id as dmp_api_url %}
{{ dmp_api_url|safe|json_script:"dmp_api_url" }}

{{ projects_config.dmp_survey_config.config|json_script:"dmp-config" }}
{{ project.dmp|json_script:"dmp" }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script type="text/javascript" src="https://unpkg.com/survey-core/survey.core.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/survey-js-ui/survey-js-ui.min.js"></script>
<script src="{% static 'projects/dmp.js' %}"></script>
{% endif %}
{% endblock body_javascript %}
