{% extends 'app.html' %}
{% load rules %}
{% load render_table from django_tables2 %}

{% block article %}

{% has_perm 'projects.change_project' request.user project as can_edit_project %}

<div class="prose-xl">
    <h1 class="font-bold">{{ project.name }}</h1>
    <p>{{ project.description|default_if_none:'No description provided' }}</p>

    <h2>Additional info</h2>
    <table class="table table-zebra table-pin-cols table-lg">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Status</td>
                <td>{{ project.get_status_display }}</td>
            </tr>
            <tr>
                <td>Topics</td>
                <td>{{ project.topics.all|join:", " }}</td>
            </tr>
            <tr>
                <td>Tags</td>
                <td>{{ project.tags.all|join:", " }}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{ project.category }}</td>
            </tr>
            <tr>
                <td>Customer</td>
                <td>{{ project.customer }}</td>
            </tr>
            <tr>
                <td>Start date</td>
                <td>{{ project.start_date }}</td>
            </tr>
            <tr>
                <td>End date</td>
                <td>{{ project.end_date }}</td>
            </tr>
            <tr>
                <td>Budget</td>
                <td>{{ project.budget }} NOK</td>
            </tr>
            <tr>
                <td>Department</td>
                <td>{{ project.section }}</td>
            </tr>
            <tr>
                <td>Leader</td>
                <td>{{ project.leaders|join:', ' }}</td>
            </tr>
            <tr>
                <td>Has DMP</td>
                <td>{% if project.dmp %}
                    <a href="{% url 'projects:dmp_detail' object.dmp.id %}">Yes</a>
                    {% else %}No{% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Involved</h2>
    <table class="table table-zebra table-pin-cols table-lg">
        <thead>
            <tr>
                <th>User</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for member in project.members.all %}
            {% if member.user %}
            <tr>
                <td>{{ member.user }}</td>
                <td>{{ member.get_role_display }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>


<c-accordion type='multiple' open="{'item-1': true, 'item-2': true, 'fetch': true}" class="mt-4">
    <c-accordion.item value='item-2'>
        <c-accordion.trigger value='item-2' class="text-2xl font-bold">Services</c-accordion.trigger>
        <c-accordion.content value='item-2'>
            {% render_table services %}
        </c-accordion.content>
    </c-accordion.item>
    <c-accordion.item value='item-1'>
        <c-accordion.trigger value='item-2' class="text-2xl font-bold">Datasets</c-accordion.trigger>
        <c-accordion.content value='item-2'>
            {% render_table datasets %}
        </c-accordion.content>
    </c-accordion.item>
</c-accordion>


</div>
<div class="flex mt-5 gap-4">
    {% if project.dmp %}
    <a class="btn btn-secondary" href="{% url 'projects:dmp_detail' pk=project.dmp.id %}">DMP</a>
    {% endif %}
    {% if can_edit_project %}
    {% if not project.dmp %}
    <a class="btn btn-secondary" href="{% url 'projects:dmp_create' %}?project={{project.pk}}">Create a DMP</a>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'projects:project_update' pk=project.number %}">Edit</a>
    {% endif %}
</div>

{% endblock article %}
