volumes:
  pgdata: {}
  statics: {}
  kestra-data: {}

x-django-env: &django-env
  DATABASE_URL: "postgis://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres?sslmode=disable"
  DJANGO_SETTINGS_MODULE: catalog.core.settings.production
  USE_DOCKER: "yes"
  OIDC_PROVIDER_ID: nina
  OIDC_CLIENT_ID: "${OIDC_CLIENT_ID}"
  OIDC_SECRET: "${OIDC_SECRET}"
  OIDC_PROVIDER_URL: "${OIDC_PROVIDER_URL}"
  OIDC_PROVIDER_NAME: NINA
  DJANGO_AWS_ACCESS_KEY_ID: ${S3_ACCESS_KEY}
  DJANGO_AWS_SECRET_ACCESS_KEY: ${S3_SECRET_KEY}
  DJANGO_AWS_STORAGE_BUCKET_NAME: ${S3_BUCKET}
  DJANGO_AWS_S3_ENDPOINT_URL: http://${HOSTNAME}:9090

x-django-prod-env: &django-prod-env
  <<: *django-env
  DJANGO_SECRET_KEY: "${DJANGO_SECRET_KEY}"
  DJANGO_SERVER_EMAIL: ""
  DJANGO_ADMIN_URL: admin/
  DJANGO_SECURE_SSL_REDIRECT: False
  WEB_CONCURRENCY: 4
  DJANGO_ALLOWED_HOSTS: "localhost,django"

x-django-dev-env: &django-dev-env
  <<: *django-env
  DJANGO_SETTINGS_MODULE: catalog.core.settings.local

x-django: &django
  build: .
  #   target: django
  depends_on:
    - postgres
  environment:
    <<: *django-env

x-django-prod: &django-prod
  <<: *django
  depends_on:
    - postgres
  profiles:
    - prod
  command: uv run gunicorn catalog.core.wsgi --bind 0.0.0.0:8000 --chdir=/app

x-django-dev: &django-dev
  <<: *django
  # build:
  # target: dev
  profiles:
    - dev
  environment:
    <<: *django-dev-env
  volumes:
    - ./src:/app/src
    - ./media:/app/media
  command: uv run manage.py runserver 0.0.0.0:8000

services:
  django:
    <<: *django-prod
    environment:
      <<: *django-prod-env
      DJANGO_COLLECTSTATIC: 1
      DJANGO_MIGRATE: 1
    volumes:
      - statics:/app/staticfiles

  django-dev:
    <<: *django-dev
    tty: true
    stdin_open: true
    hostname: django
    environment:
      <<: *django-dev-env
      DJANGO_MIGRATE: 1

  queue:
    <<: *django-prod
    environment:
      <<: *django-prod-env
      WAIT_FOR_HTTP: http://django:8000/ht/
    command: uv run manage.py procrastinate worker

  queue-dev:
    <<: *django-dev
    environment:
      <<: *django-dev-env
      WAIT_FOR_HTTP: http://django:8000/ht/
    command: uv run manage.py procrastinate worker

  tailwind:
    <<: *django-dev
    tty: true
    stdin_open: true
    command: uv run manage.py tailwind start
    environment:
      <<: *django-dev-env
      DJANGO_TAILWIND: 1

  postgres:
    image: postgis/postgis:16-3.4
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 5432:5432

  caddy:
    image: caddy:2.9.1
    volumes:
      - statics:/statics
      - ./media:/media_files
      - ./caddy:/etc/caddy
    ports:
      - 8000:80

  # frontend:
  #   profiles:
  #     - dev
  #   build:
  #     target: frontend
  #   command: npm run dev -- --host 0.0.0.0 --cors
  #   ports:
  #     - 5173:5173
  #   volumes:
  #     - ./src/frontend/src:/app/src

  minio:
    image: quay.io/minio/minio
    entrypoint: sh
    command: -c 'mkdir -p /data/${S3_BUCKET} && minio server /data --console-address ":9091" --address ":9090"'
    ports:
      - 9090:9090
      - 9091:9091
    volumes:
      - ./volumes/minio:/data
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY}

  kestra:
    image: kestra/kestra:latest
    pull_policy: always
    # Note that this setup with a root user is intended for development purpose.
    # Our base image runs without root, but the Docker Compose implementation needs root to access the Docker socket
    # To run Kestra in a rootless mode in production, see: https://kestra.io/docs/installation/podman-compose
    user: "root"
    command: server standalone
    volumes:
      - kestra-data:/app/storage
      - ${DOCKER_SOCKET_PATH}:/var/run/docker.sock
      - /tmp/kestra-wd:/tmp/kestra-wd
    environment:
      KESTRA_CATALOG_PSQL: postgres://postgres:${POSTGRES_PASSWORD}@${HOSTNAME}:5432/postgres?sslmode=disable
      KESTRA_UBW_MSSQL: ${UBW_MSSQL}
      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://postgres:5432/kestra
            driverClassName: org.postgresql.Driver
            username: postgres
            password: ${POSTGRES_PASSWORD}
        kestra:
          server:
            basicAuth:
              enabled: false
              username: "admin@kestra.io" # it must be a valid email address
              password: ${KESTRA_PASSWORD}
          repository:
            type: postgres
          storage:
            type: local
            local:
              basePath: "/app/storage"
          queue:
            type: postgres
          tasks:
            tmpDir:
              path: /tmp/kestra-wd/tmp
          url: http://localhost:8080/
    ports:
      - "8080:8080"
      - "8081:8081"
