volumes:
  pgdata: {}
  statics: {}
  kestra-data: {}

x-django-env: &django-env
  DATABASE_URL: "postgis://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres?sslmode=disable"
  DJANGO_SETTINGS_MODULE: catalog.core.settings.production
  USE_DOCKER: "yes"
  OIDC_PROVIDER_ID: nina
  OIDC_CLIENT_ID: "${OIDC_CLIENT_ID}"
  OIDC_SECRET: "${OIDC_SECRET}"
  OIDC_PROVIDER_URL: "${OIDC_PROVIDER_URL}"
  OIDC_PROVIDER_NAME: NINA
  DJANGO_AWS_ACCESS_KEY_ID: ${S3_ACCESS_KEY}
  DJANGO_AWS_SECRET_ACCESS_KEY: ${S3_SECRET_KEY}
  DJANGO_AWS_STORAGE_BUCKET_NAME: ${S3_BUCKET}
  DJANGO_AWS_S3_ENDPOINT_URL: http://${HOSTNAME}:9090
  AUTH_LDAP_SERVER_URI: ${AUTH_LDAP_SERVER_URI}
  AUTH_LDAP_BIND_DN: ${AUTH_LDAP_BIND_DN}
  AUTH_LDAP_BIND_PASSWORD: ${AUTH_LDAP_BIND_PASSWORD}
  AUTH_LDAP_USER_SEARCH_BASE: ${AUTH_LDAP_USER_SEARCH_BASE}
  AUTH_LDAP_UID: ${AUTH_LDAP_UID}
  AUTH_LDAP_USER_ATTR_MAP: ${AUTH_LDAP_USER_ATTR_MAP}

x-django-prod-env: &django-prod-env
  <<: *django-env
  DJANGO_SECRET_KEY: "${DJANGO_SECRET_KEY}"
  DJANGO_SERVER_EMAIL: ""
  DJANGO_ADMIN_URL: admin/
  DJANGO_SECURE_SSL_REDIRECT: False
  WEB_CONCURRENCY: 4
  DJANGO_ALLOWED_HOSTS: "localhost,django"

x-django-dev-env: &django-dev-env
  <<: *django-env
  DJANGO_SETTINGS_MODULE: catalog.core.settings.local

x-django: &django
  build: .
  #   target: django
  depends_on:
    - postgres
  environment:
    <<: *django-env

x-django-prod: &django-prod
  <<: *django
  depends_on:
    - postgres
  profiles:
    - prod
  command: uv run gunicorn catalog.core.wsgi --bind 0.0.0.0:8000 --chdir=/app

x-django-dev: &django-dev
  <<: *django
  # build:
  # target: dev
  profiles:
    - dev
  environment:
    <<: *django-dev-env
  volumes:
    - ./src:/app/src
    - ./media:/app/media
    - ./certs/:/usr/local/share/ca-certificates/
    - ./uv.lock:/app/uv.lock
  command: uv run manage.py runserver 0.0.0.0:8000

services:
  django:
    <<: *django-prod
    environment:
      <<: *django-prod-env
      DJANGO_COLLECTSTATIC: 1
      DJANGO_MIGRATE: 1
      # INSTALL_CERTS: 1
    volumes:
      - statics:/app/staticfiles
      # - ./certs/:/usr/local/share/ca-certificates/

  django-dev:
    <<: *django-dev
    tty: true
    stdin_open: true
    hostname: django
    environment:
      <<: *django-dev-env
      DJANGO_MIGRATE: 1
      INSTALL_CERTS: 1

  queue:
    <<: *django-prod
    environment:
      <<: *django-prod-env
      WAIT_FOR_HTTP: http://django:8000/ht/
    command: uv run manage.py procrastinate worker

  queue-dev:
    <<: *django-dev
    environment:
      <<: *django-dev-env
      WAIT_FOR_HTTP: http://django:8000/ht/
      INSTALL_CERTS: 1
    command: uv run manage.py procrastinate worker

  tailwind:
    <<: *django-dev
    tty: true
    stdin_open: true
    command: uv run manage.py tailwind start
    environment:
      <<: *django-dev-env
      DJANGO_TAILWIND: 1

  postgres:
    image: postgis/postgis:16-3.4
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 5432:5432

  caddy:
    build:
      context: ./caddy
    profiles:
      - prod
    volumes:
      - statics:/django/statics
      - ./media:/django/media
    ports:
      - 8000:80
  caddy-dev:
    profiles:
      - dev
    build:
      context: ./caddy
    volumes:
      - ./media:/django/media
      - ./caddy/Caddyfile.dev:/etc/caddy/Caddyfile
    ports:
      - 8000:80

  # frontend:
  #   profiles:
  #     - dev
  #   build:
  #     target: frontend
  #   command: npm run dev -- --host 0.0.0.0 --cors
  #   ports:
  #     - 5173:5173
  #   volumes:S
  #     - ./src/frontend/src:/app/src

  minio:
    image: quay.io/minio/minio
    entrypoint: sh
    command: -c 'mkdir -p /data/${S3_BUCKET} && minio server /data --console-address ":9091" --address ":9090"'
    ports:
      - 9090:9090
      - 9091:9091
    volumes:
      - ./volumes/minio:/data
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY}
