http:// {
    handle_path /static/* {
		root * /django/statics
        file_server
	}
    handle_path /media/* {
		root * /django/media
        file_server
	}
    handle {
        reverse_proxy http://django:8000
    }
}
