{% extends 'surveys/survey_base.html' %}
{% load static %}

{% block body %}
<div id="surveyCreator" style="height: 100vh;width:100%"></div>
{% endblock %}

{% block css %}
<link  href="https://unpkg.com/survey-core/survey-core.min.css" type="text/css" rel="stylesheet">
<link  href="https://unpkg.com/survey-creator-core/survey-creator-core.min.css" type="text/css" rel="stylesheet">
{% endblock %}


{% block body_javascript %}
{{ survey.config|json_script:"survey-config" }}

{{ block.super }}
<!-- SurveyJS Form Library resources -->
<script src="https://unpkg.com/survey-core/survey.core.min.js"></script>
<script src="https://unpkg.com/survey-js-ui/survey-js-ui.min.js"></script>

<!-- (Optional) Predefined theme configurations -->
<script src="https://unpkg.com/survey-core/themes/index.min.js"></script>

<!-- Survey Creator resources -->
<script src="https://unpkg.com/survey-creator-core/survey-creator-core.min.js"></script>
<script src="https://unpkg.com/survey-creator-js/survey-creator-js.min.js"></script>

<script src="{% static 'surveys/js/app.js' %}"></script>
{% endblock body_javascript %}
