name: CI

# Enable Buildkit and let compose use it to speed up image building
env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

on:
  pull_request:
    branches: ["main"]
    paths-ignore: ["docs/**"]

  push:
    branches: ["main"]
    paths-ignore: ["docs/**"]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pytest:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup secrets
        run: cp .env.example .env

      - name: Build the Stack
        run: docker compose --profile dev build

      - name: Run DB Migrations
        run: docker compose --profile dev run --rm django-dev uv run manage.py migrate

      - name: Check openapi spec
        run: docker compose --profile dev run --rm django-dev uv run manage.py spectacular --validate

      - name: Run Django Tests
        run: docker compose --profile dev run django-dev uv run pytest

      - name: Tear down the Stack
        run: docker compose --profile dev down

      - name: Code Coverage Summary
        uses: insightsengineering/coverage-action@v3
        with:
          path: ./media/cov.xml
          threshold: 50
          fail: true
          publish: true
          diff: true
          uncovered-statements-increase-failure: false
          new-uncovered-statements-failure: false
          coverage-rate-reduction-failure: true
          token: ${{ github.token }}
